{% load i18n %}{% autoescape off %}
{% trans "Hi" %},

{% trans "You're receiving this email because you requested a password reset for your CalBol account." %}

{% trans "Please click the link below to set a new password:" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "If you didn't request this, you can safely ignore this email." %}

{% trans "This link will expire in 24 hours." %}

{% trans "Best regards," %}
{% trans "The CalBol Team" %}
{% endautoescape %}
